<h2><center>Directions</center></h2>
<h3>Text</h3>
<p>Just type or paste in anything here. Each paragraph will be indented. If you need more formatting I can add it!<p>
<h3>Images</h3>
<p> You can paste in the code from flickr (just look for the "share" button and copy the HTML it gives you under "Grab the HTML/BBCode" - you can choose which ever size you want but Small or Medium 500 are probably best). The images will be automatically formatted for you. </p>

