<h2><center>Directions</center></h2>
<h3>Images</h3>
<p> You can paste in the code from flickr (just look for the "share" button and copy the HTML it gives you under "Grab the HTML/BBCode" - you can choose which ever size you want but Small or Medium 500 are probably best). The images will be automatically formatted for you. </p>

<h3>Links</h3>
<p> Anything that looks like a link (meaning it ends with .com, or starts with www or anything like that) will be turned into a clickable link. </p>

<h3>Formatting</h3>
<p>No formatting is supported, but I'll add bold/italic/underline later.</p>