<p id="notice"><%= notice %></p>

 

<p>
  <%= Rinku.auto_link(simple_format(@page.content.html_safe, {}, {:sanitize => false}).html_safe, mode=:all, link_attr=nil) %>
			
</p>

<% if signed_in? %>
<h2> Click <%= link_to 'here', edit_page_path(@page)%> to edit </h2>
<% end %>


