$content-back: #fff;
$highlight: #ddd; //871976;
$highlight-text: #871976;

body,
html {
margin:0;
padding:0;
color:#000;
padding-bottom: 10px;
}

body {
	background-image:url('/assets/webtreats_whitewashed_grunge_1.png');
}
.shadow {
  -moz-box-shadow: 0px 0px 5px #000;
  -webkit-box-shadow: 0px 0px 5px #000;
  box-shadow: 1px 3px 3px #333;
	width: 920px;
	margin: 0 auto;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	-moz-border-bottom-left-radius: 30px;
	-moz-border-bottom-right-radius: 30px;
	-webkit-border-bottom-left-radius: 30px;
	-webkit-border-bottom-right-radius: 30px;
} 
p {
	font-family: 'Andika', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'IM Fell Double Pica SC', serif;
}
#guitar {
	background-image: url('/assets/guitar-outline.png');
	background-repeat:no-repeat;
	width: 400px;
	height: 100%;
	position: absolute;
}
#container {
	-moz-opacity:.95; filter:alpha(opacity=95); opacity:.95;
	width:900px;
	-moz-box-shadow:inset 0 0 40px #DDD;
  -webkit-box-shadow:inset 0 0 40px #DDD;
  box-shadow:inset 0 0 40px #DDD;
	margin:-1px auto 20px auto;
	background: $content-back;
	padding: 10px;
	overflow: hidden;
	border-top: 1px solid #ddd;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	-moz-border-bottom-left-radius: 30px;
	-moz-border-bottom-right-radius: 30px;
	-webkit-border-bottom-left-radius: 30px;
	-webkit-border-bottom-right-radius: 30px;
	img {
		margin: 0 auto;
		
	}
}

#header{
	height: 80px;
	background-color: #FFF;
	padding: 20px;
	border-bottom: 1px solid #AAA;
	-moz-box-shadow:inset 0 0 40px #DDD;
  -webkit-box-shadow:inset 0 0 40px #DDD;
  box-shadow:inset 0 0 40px #DDD;
	h1 {
		text-align: center;
		font-size: 50px;
		color: #444;
		//text-shadow: -1px 0 #777, 0 1px #777, 1px 0 #777, 0 -1px #777;
		text-decoration: underline;
		font-style: bold;
	}
}
#head-wrap {
	box-shadow: 0px 0 5px #000000;
	-moz-box-shadow: 0px 0 5px #000000;
	-webkit-box-shadow: 0px 0 5px #000000;	
}
#guitar-neck {
	background-image: url('/assets/guitarneck.png') ;
	width:900px;
	height:116px;
	margin: 0 auto;
}
#main {
	float:left;
	width:660px;
	padding: 20px 10px 20px 10px;
	p {
		text-indent: 25px;
	}
	h2 {
		text-align: center;
		color: $highlight-text;
		font-size: 25px;
	}
	img {
		border: 1px solid $highlight;
		background-color: #fff;
		padding: 5px;
	}
}
#sidebar {
	//text-align: justify;
	float: left;
	width: 188px;
	border-right: 2px solid $highlight;
	padding: 10px;
	p {
		text-indent: 25px;
	}
	h3 {
		text-align: center;
		color: $highlight-text;
	}
	ul {
		list-style: none;
		display: inline;
		li {
			text-align: center;
		}
	}
}
#sidecover {
	margin-top: 20px;
	padding: 20px 10px 10px 0;
	float: left;
}
nav {
	ul {
		list-style: none;
		li {
			margin-right: 10px;
			display: inline;
			line-height: 28px;
			font-size: 15px;
			a{
				color: #444;
				text-decoration: none;
				&:hover{
					color: $highlight-text;
				}
			}		
		}
	}
}
#new-menu {
	height: 28px;
	width: 290px;
	background-color: #FFF;
	float: right;
	margin-top: -28px;
	border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	box-shadow: inset -33px 0px 33px -33px #EEE;
	-moz-box-shadow:inset -33px 0px 33px -33px #EEE;
	-webkit-box-shadow:inset -33px 0px 33px -33px #EEE;
}
.cal {
	background: $highlight;
	padding: 5px 5px 5px 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	h3{
		font-family: 'Andika', sans-serif;
		font-style: bold;
		text-align: center;
		line-height: 1;
		margin-top: 0px;
		padding: 5px;
		span {
			font-family: 'Andika', sans-serif;
			font-size: 12px;	
		}
	}
}
.cal-text {
	padding: 10px;
	background: #fff;
	-moz-box-shadow:inset 0 0 30px #DDD;
   -webkit-box-shadow:inset 0 0 30px #DDD;
   box-shadow:inset 0 0 30px #DDD;
}
.bar {
	width: 600px;
	height: 2px;
	background: #DDD;
	margin: 10px auto 0 auto;
}
.bottom-round {
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.top-round {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.light {
	outline: 1px solid #ddd;
	border-top: 1px solid #fff;
	padding: 10px;
	background: #f0f0f0;
}