<script>
$(document).ready(function() {
		$(".single_image").fancybox({
			'transitionIn' : 'fade',
			'transitionOut' : 'fade',
		});
	});
</script>
<center>	 	<% if signed_in? %><%= link_to 'New Image', new_image_path %><% end %></center>
<br />
<div id="gal-cover">
<% @images.each do |image| %>
<div class="border">
<div class="crop">
<div class="gal">
 		<%= link_to "#{image.small}".html_safe, "#{image.location}", :class => "single_image", :href=>"#{image.location}" %>
<br />
    <center>	 	<% if signed_in? %><%= link_to 'Destroy', image, :confirm => 'Are you sure?', :method => :delete %><% end %></center>
</div>
</div>
</div>
<% end %>
</div>

